.heading {
  margin: 30 auto;
}

.gallery {
  display: flex;
  gap: 10px;
  width: 100%;
}

.img {
  height: 250px;
  width: 250px;
  border: 5px solid black;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.register {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  backdrop-filter: blur(20px);
}
.container {
  margin: 30px;
}

label {
  margin-right: 20px;
}

#name,
#email {
  margin-left: 25px;
}

input {
  border: none;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}

.submitBtn {
  padding: 10px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 10px;
}

.reset {
  position: fixed;
  bottom: 10%;
  right: 50%;
}
